.page_container {
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

}

.item_Box{
    border-top: 2px solid #434343;
    /* background-color: lavender; */
    display: flex;
    width: 100%;
    height: 225px;
    margin-bottom: 10px;
}

.nameprice_container {
    /* background-color: rgb(246, 61, 61); */
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    width: 70%;
}

.name_box{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* background-color: purple; */
    color: #a99e7c;
    
}

.name_box h3 {
    font-size: 25px;

}

.name_box input {
    width: 45px;
}

.name_box a {
    cursor: pointer;
    margin-left: 20px;
}

.price_box{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* background-color: plum; */
    font-size: 20px;
    color: #a99e7c;

}

.item_container {
    /* background-color: bisque; */
    width: 55%;
    height: 650px;
    /* height: auto; */
}

.image_container {
    /* background-color: orange; */
    height: 100%;
    width: 225px;
}
 
.image_container img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.item_info_container {
    /* background-color: plum; */
    padding-left: 15px;
    height: 400px;
    width: 35%;
}

.item_info_container h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* color: #98844d; */
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding-top: 5px;
}

.item_info_container p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* text-align: center; */
    font-size: 15px;
    font-weight: 400;
}

.item_info_container button {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #98844d;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.item_info_container button:hover {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #a99e7c;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
