.NewArrivals_container {
    background-color: #212121;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.NewArrivals_container h3 {
    color: #70CCD7;
}

.instagram {
    color: #70CCD7;
    font-size: 100px;
    border-radius: 20%;
    margin: 50px;

    /* Dim glow */
    box-shadow: 0px 0px 15px rgba(45, 255, 196, 0.4);

    transition: 
        color 0.5s ease,
        box-shadow 0.6s ease;
}

.instagram:hover {
    color: #11eaf2;

    /* Bright glow */
    box-shadow: 0px 0px 55px rgba(45, 255, 196, 1);
}


.info_container {
    background-color: aliceblue;
    height: 600px;
}

.item_container {
    /* padding-top: 100px; same as navbar height */
    background-image: url("../images/vice_city_retro.jpg");
    background-size: cover;
    /* fills screen nicely */
    background-position: center;
    /* keeps focus centered */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #AF52A0;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-bottom: 150px; */
}

.item_Box {
    background-color: #212121;
    padding: 20px;
    /* padding-bottom: 80px; */
    border-radius: 10%;
    width: 350px;
    /* height: 400px; */
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}

.item_Box img {
    width: 100%;
    /* height: 80%; */
    object-fit: fill;
    border-radius: 10%;
}

.item_Img_box {
    height: 70%;
}

.item_Info_box {
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
}

.item_Info_box h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #70CCD7;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1.2px;
    padding-top: 15px;
    transition: color 0.2s ease;
}

/* for the popup */
h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #70CCD7;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1.2px;
    padding-top: 15px;
    transition: color 0.2s ease;
}

p {
    color: #AF52A0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.buttonStyle {
  background-color: #70CCD7;
  color: black;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.buttonStyle:hover {
  background-color: #fe0083;
  color: white;
}