.page_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.image_container {
    background-color: bisque;
    width: 55%;
    height: 650px;
    /* height: auto; */
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.item_info_container {
    /* background-color: plum; */
    height: 400px;
    width: 35%;
    padding-left: 15px;
}

.item_info_container h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #98844d;
    /* text-align: center; */
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding-top: 5px;
}

.item_info_container p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
}

.item_info_container button {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #98844d;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.item_info_container button:hover {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #a99e7c;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.size_Box {
    margin-bottom: 20px;
}

.size_Box a {
    margin-right: 20px;
    display: inline-block;
    padding: 5px 15px;
    background-color: #eee;
    color: rgb(32, 32, 32);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}